/* src/components/NavBar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #F2D2BD	; /* Darker background for the navbar */
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f1a500; /* Add hover effect */
  }
  